body{
	margin:0;
	padding: 0;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei",sans-serif;
	/*background: #f5f5f5;*/
}
img,input,button,p,ul,li,input,textarea,form{
	padding: 0;
	margin: 0;
	border:0;
	list-style: none;
}
h3{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1em;
}
a{
	text-decoration: none;
	font-family: "Microsoft Yahei";
}
input,select,textarea,button{
	font-family: "Microsoft Yahei";
	outline: none;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    overflow: hidden;
}
.clearfix {
    zoom: 1;
}

.user-wrap{
	width: 750px;
	margin: 0 auto;
}

/*user-login*/
.user-login-content{
	padding: 140px 75px 50px;
}
.user-login-box{
	/*padding: 0 30px;*/
	background-color: #89d39d;
	border: 1px solid #98c0c6;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 0 35px;
}
.user-login-username,.user-login-password{
	height: 60px;
	padding: 20px 0;
	margin: 0 0 0 90px;
}
.user-login-box label{
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 0 0 -75px;
}
.user-login-box input{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: transparent;
	color: #fff;
	font-size: 30px;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;  
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
.user-login-box input:-ms-input-placeholder{
    color: #fff;
}
.user-login-box input::-webkit-input-placeholder{
    color: #fff;
}
.user-login-username{
	border-bottom: 1px solid #fff;
}
.user-login-username label{
	background: url(../../images/user-icons.png) no-repeat -420px -120px;
}
.user-login-password label{
	background: url(../../images/user-icons.png) no-repeat -420px -60px;
}

.user-login-option{
	height: 30px;
	line-height: 30px;
	padding: 0 0 110px;
}
.user-login-remember{
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 10px 0 0;
}
.user-login-option label{
	color: #2a2a2a;
	font-size: 24px;
}
.user-login-forget{
	float: right;
	font-size: 24px;
	color: #14a83b;
}
.user-login-btn input,.user-login-register{
	width: 100%;
	text-align: center;
	height: 100px;
	line-height: 100px;
	color: #fff;
	font-size: 30px;
	
	border-radius: 10px;
}
.user-login-btn input{
	background-color: #14a83b;
	margin: 0 0 55px;
}
.user-login-register{
	display: block;
	background-color: #ffb940;
}
.user-login-logo{
	height: 66px;
	margin: 200px 0 0;
}
.user-login-jylogo{
	width: 100px;
	margin: 3px 0;
	height: 60px;
	float: left;
	background: url(../../images/user-jylogo.png) no-repeat;
}
.user-login-jllogo{
	width: 233px;
	height: 66px;
	float: right;
	background: url(../../images/user-logo.png) no-repeat;
}

/*user-register*/
.user-register-content{
	/*background-color: #e7e7e7;*/
}
.user-register-item{
	height: 60px;
	padding: 20px 30px 20px 0;
	background-color: #fff;
	
}
.user-register-bb20{
	border-bottom: 20px solid #e7e7e7;
	padding-left:130px;

}
.user-register-bb1{
	border-bottom: 1px solid #e7e7e7;
	margin-left:130px;
}
.user-register-item label{
	margin: 0 0 0 -100px;
	display: block;
	width: 60px;
	height: 60px;
	background: url(../../images/user-icons.png) no-repeat;
	border-radius: 4px;
	float: left;
}
.user-register-item input{
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #2a2a2a;
	font-size: 30px;
}
.user-register-item select{
	width: 190px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #2a2a2a;
	text-align: center;
}
.user-register-province{
	float: left;
}
.user-register-city{
	float: right;
}
.user-register-localtext{
	display: block;
	width: 190px;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	color: #2a2a2a;
	float: left;
	overflow: hidden;
}
.user-register-name label{
	background-position: 0 0;
}
.user-register-hospital label{
	background-position: -60px 0;
}
.user-register-phone label{
	background-position: -120px 0;
}
.user-register-code label{
	background-position: -180px 0;
}
.user-register-email label{
	background-position: -240px 0;
}
.user-register-password label{
	background-position: -300px 0;
}
.user-register-repeatpass label{
	background-position: -360px 0;
}
.user-register-region label{
	background-position: -420px 0;
}
.user-wrap .user-bgcolor1{
	background-color: #ffc154;
}
.user-wrap .user-bgcolor2{
	background-color: #ff9054;
}
.user-wrap .user-bgcolor3{
	background-color: #ff5252;
}
.user-wrap .user-bgcolor4{
	background-color: #54a4ff;
}
.user-wrap .user-bgcolor5{
	background-color: #6a49e6;
}
.user-wrap .user-bgcolor6{
	background-color: #4bcae5;
}
.user-wrap .user-bgcolor7{
	background-color: #f56e33;
}
.user-wrap .user-bgcolor8{
	background-color: #f53373;
}
.user-wrap .user-bgcolor9{
	background-color: #4984e6;
}
.user-wrap .user-bgcolor10{
	background-color: #9454ff;
}
.user-wrap .user-bgcolor11{
	background-color: #54c71c;
}
.user-register-code input.user-register-codetxt{
	width: 400px;
	float: left;
}
.user-register-code input.user-register-sendcode{
	float: right;
	width: 180px;
	height: 60px;
	line-height: 60px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	background-color: #14a83b;
}
.user-register-code input.user-register-sendcode:disabled{
	font-size: 16px;
	background-color: #74c689;
}
.user-register-agree{
	height: 30px;
	line-height: 30px;
	padding: 40px 30px 50px;
	font-size: 24px;
	color: #2a2a2a;
}
.user-register-agree input{
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 10px 0 0;
}
.user-register-agree a{
	color: #14a83b;
	font-size: 24px;
}
.user-register-btn{
	padding: 0 75px 110px;
}
.user-register-btn input{
	height: 90px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color:#fff;
	background-color: #14a83b;
	border-radius: 10px;
}
.rDialog-wrap{
	background: rgba(0,0,0,.7);
	opacity: 1;
}
.rDialog-footer a{
	font-size: 24px;
	height: 40px;
	line-height: 40px;
}
.rDialog-ok, .rDialog-ok:hover{
	background-color: #14a83b;
}

/*user-forgetpass*/
.user-forgetpass-content{
	padding: 80px 75px 0;
}
.user-forgetpass-phone,.user-forgetpass-code{
	height: 60px;
	padding: 20px 0 20px 80px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 0 30px;
}
.user-forgetpass-form label{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../../images/user-icons.png) no-repeat;
	float: left;
	margin: 0 0 0 -70px;
}
.user-forgetpass-phone label{
	background-position: -60px -180px;
}
.user-forgetpass-code label{
	background-position: -120px -180px;
}
.user-forgetpass-form input{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	color: #2a2a2a;
}
.user-forgetpass-phone input{
	width: 280px;
	float: left;
}
.user-forgetpass-phone input.user-forgetpass-sendcode{
	display: block;
	width: 200px;
	height: 100px;
	float: right;
	color: #fff;
	background-color: #14a83b;
	font-size: 30px;
	margin: -20px 0 0 0;
	text-align: center;
	line-height: 100px;
}
.user-forgetpass-phone input.user-forgetpass-sendcode:disabled{
	font-size: 18px;
	background-color: #74c689;
}
.user-forgetpass-btn input{
	height: 100px;
	background-color: #14a83b;
	color: #fff;
	border-radius: 10px;
}

/*user-info*/
.user-info-head{
	height: 270px;
	padding: 50px 0 0;
	border-bottom: 10px solid #e7e7e7;
}
.user-linear-bg{
	background: -moz-linear-gradient(top, #1bc348 0%, #14a83b 100%);
	background: -webkit-linear-gradient(top, #1bc348 0%,#14a83b 100%);
	background: -o-linear-gradient(top, #1bc348 0%,#14a83b 100%);
	background: -ms-linear-gradient(top, #1bc348 0%,#14a83b 100%);
	background: linear-gradient(top, #1bc348 0%,#14a83b 100%);
}
.user-info-ico{
	width: 140px;
	height: 140px;
	margin:0 auto;
	border-radius: 50%;
	overflow: hidden;
	padding: 8px;
	border:2px solid #fff;
}
.user-info-ico span{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #c4c4c4;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.user-info-ico span i{
	display: block;
	padding: 20px 0;
	font-size: 100px;
	color: #fff;
}
.user-info-ico span img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.user-info-name{
	padding: 25px 0 0;
	font-size: 28px;
	color: #fff;
	text-align: center;
}
.user-info-item{
	height: 60px;
	padding: 20px 30px 20px 0;
}
.user-info-bb1{
	border-bottom: 1px solid #e7e7e7;
	margin-left: 130px;
}
.user-info-bb20{
	border-bottom: 20px solid #e7e7e7;
	padding-left: 130px;
}
.user-info-item span{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 0 0 -100px;
	background: url(../../images/user-icons.png) no-repeat;
	float: left;
	border-radius: 4px;
}
.user-info-editinfo span{
	background-position: -240px -60px;
}
.user-info-editpass span{
	background-position: -300px 0;
}
.user-info-mybeans span{
	background-position: 0 -60px;
}
.user-info-sign span{
	background-position: -60px -60px;
}
.user-info-feedback span{
	background-position: -120px -60px;
}
.user-info-about span{
	background-position: -180px -60px;
}
.user-info-item a{
	color: #2a2a2a;
	font-size: 30px;
	line-height: 60px;
}
.user-info-btn{
	width: 480px;
	height: 90px;
	margin: 180px auto 60px;
}
.user-info-btn input{
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background-color: #de3939;
	border-radius: 10px;
}

/*user-editinfo*/
.user-editinfo-content{
	padding: 0 75px;
}
.user-editinfo-top{
	width: 450px;
	text-align: center;
	padding: 15px 0 50px;
	margin: 0 auto;
}
.user-editinfo-title{
	font-size: 30px;
	color: #2a2a2a;
	line-height: 60px;
}
.user-editinfo-tips{
	font-size: 24px;
	color: #a7a7a7;
	line-height: 40px;
}
.user-editinfo-item{
	height: 60px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 0 35px;
	padding: 20px 0 20px 80px;
}
.user-editinfo-item label{
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 0 0 -70px;
	background: url(../../images/user-icons.png) no-repeat;
}
.user-editinfo-item input{
	width: 100%;
	height: 60px;
	font-size: 30px;
	color: #2a2a2a;
	line-height: 60px;
}
.user-editinfo-name label{
	background-position: 0 -180px;
}
.user-editinfo-company label{
	background-position: -180px -180px;
}
.user-editinfo-department label{
	background-position: -240px -180px;
}
.user-editinfo-email label{
	background-position: -300px -180px;
}
.user-editinfo-btn{
	margin: 160px 0 100px;
	height: 100px;
}
.user-editinfo-btn input{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #14a83b;
	color: #fff;
	text-align: center;
	font-size: 30px;
}

/*user-editpass*/
.user-editpass-content{
	padding: 75px;
}
.user-editpass-item{
	height: 60px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 0 35px;
	padding: 20px 0 20px 80px;
}
.user-editpass-item label{
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 0 0 -70px;
	background: url(../../images/user-icons.png) no-repeat;
}
.user-editpass-item input{
	width: 100%;
	height: 60px;
	font-size: 30px;
	color: #2a2a2a;
	line-height: 60px;
}
.user-editpass-old label{
	background-position: -360px -180px;
}
.user-editpass-new label{
	background-position: -420px -180px;
}
.user-editpass-repeatnew label{
	background-position: 0 -240px;
}
.user-editpass-btn{
	margin: 160px 0 100px;
	height: 100px;
}
.user-editpass-btn input{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #14a83b;
	color: #fff;
	text-align: center;
	font-size: 30px;
}

/*user-mybeans*/
.user-mybeans-content{
	background-color: #e7e7e7;
	min-height: 100%;
}
.user-mybeans-head{
	height: 310px;
	padding: 30px 0 0;
}
.user-mybeans-ico{
	width: 140px;
	height: 140px;
	margin:0 auto;
	border-radius: 50%;
	overflow: hidden;
	padding: 8px;
	border:2px solid #fff;
}
.user-mybeans-ico span{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #c4c4c4;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.user-mybeans-ico span i{
	display: block;
	padding: 20px 0;
	font-size: 100px;
	color: #fff;
}
.user-mybeans-ico span img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.user-mybeans-name{
	padding: 25px 0 0;
	font-size: 28px;
	color: #fff;
	text-align: center;
}
.user-mybeans-count{
	padding: 15px 0 0;
	font-size: 28px;
	color: #f8ef8c;
	text-align: center;
}
.user-mybeans-link{
	height: 60px;
	padding: 20px 1px 20px 0;
	background-color: #139b37;
}
.user-mybeans-linklist,.user-mybeans-order{
	width: 374px;
	float: left;
}
.user-mybeans-linklist{
	border-right: 1px solid #fff;
}
.user-mybeans-link a{
	display: block;
	height: 60px;
	width: 100%;
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	text-align: center;
}
.user-mybeans-link a span{
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	margin: 0 20px 0 0;
	background: url(../../images/user-icons.png) no-repeat;
}
.user-mybeans-linklist a span{
	background-position: -300px -60px;
}
.user-mybeans-order a span{
	background-position: -360px -60px;
}
.user-mybeans-title{
	margin: 50px 160px 90px;
	height: 30px;
	border-bottom: 1px solid #2a2a2a;
	text-align: center;
}
.user-mybeans-title span{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	color: #2a2a2a;
	font-size: 36px;
	padding: 0 15px;
	background-color: #e7e7e7;
}
.user-mybeans-get,.user-mybeans-use{
	padding: 0 30px;
}
.user-mybeans-tag{
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 4px;
}
.user-mybeans-get .user-mybeans-tag{
	background-color: #14a83b;
}
.user-mybeans-use .user-mybeans-tag{
	background-color: #de3939;
}
.user-mybeans-list{
	padding: 20px 0;
}
.user-mybeans-list li{
	line-height: 60px;
	font-size: 28px;
	color: #2a2a2a;
}
.user-mybeans-list li b{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 25px 10px 25px 0;
	float: left;
}
.user-mybeans-get li b{
	background-color: #14a83b;
}
.user-mybeans-use li b{
	background-color: #de3939;
}

/*user-beans*/
.user-beans-head{
	height: 390px;
	padding: 45px 0 0;
}
.user-beans-ico{
	width: 240px;
	height: 240px;
	border: 5px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	padding: 9px;
}
.user-beans-ico span{
	display: block;
	width: 100%;
	height: 90px;
	padding: 150px 0 0;
	background: url(../../images/user-beans-ico.png) no-repeat;
	text-align: center;
}
.user-beans-ico span b{
	font-weight: normal;
	color: #fff;
	font-size: 48px;
}
.user-beans-title{
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 32px;
	color: #2a2a2a;
	background-color: #e7e7e7;
}
.user-beans-list li{
	height: 60px;
	padding: 35px;
	border-bottom: 1px solid #e7e7e7;
	overflow: hidden;
}
.user-beans-left{
	width: 200px;
	height: 60px;
	float: left;
	line-height: 30px;
	font-size: 24px;
	color: #a7a7a7;
}
.user-beans-middle{
	width: 60px;
	height: 60px;
	float: left;
}
.user-beans-right{
	width: 360px;
	height: 60px;
	float: right;
	line-height: 30px;
}
.user-beans-num{
	color: #14a83b;
	font-size: 30px;
}
.user-beans-reduce{
	color: #ff9e2c;
}
.user-beans-cause{
	color: #2a2a2a;
	font-size: 24px;
}
.user-beans-middle span{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../../images/user-icons.png) no-repeat;
	border-radius: 4px;
}
span.user-beans-type1{
	background-position: -180px -120px;
}
span.user-beans-type2{
	background-position: -120px -120px;
}
span.user-beans-type3{
	background-position: -480px -120px;
}
span.user-beans-type4{
	background-position: -60px -120px;
}
span.user-beans-type5{
	background-position: 0px -120px;
}
span.user-beans-type6{
	background-position: -300px -120px;
}
span.user-beans-type7{
	background-position: -240px -120px;
}
span.user-beans-type8{
	background-position: -360px -120px;
}

/*user-myorder*/
.user-myorder-content{
	min-height: 100%;
	background-color: #e7e7e7;
}
.user-myorder-title{
	margin: 0 180px 90px;
	height: 30px;
	border-bottom: 1px solid #969696;
	text-align: center;
	padding: 50px 0 0;
}
.user-myorder-title span{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	color: #2a2a2a;
	font-size: 32px;
	padding: 0 15px;
	background-color: #e7e7e7;
}
.user-myorder-box{
	padding: 0 50px;
}
.user-myorder-list li{
	height: 60px;
	margin: 0 0 60px;
	background: url(../../images/user-myorder-bg.png) no-repeat;
	padding: 60px;
}
.user-myorder-beans{
	width: 148px;
	height: 60px;
	float: left;
	padding: 0 5px 0 0;
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	text-align: center;
}
.user-myorder-beans span{
	font-size: 60px;
}
.user-myorder-cause{
	font-size: 32px;
	text-align: center;
	color: #2a2a2a;
	float: left;
	width: 250px;
	height: 60px;
}

/*user-feedback*/
.user-feedback-content{
	padding: 0 40px;
	min-height: 100%;
	background-color: #e7e7e7;
}
.user-feedback-title{
	height: 110px;
	line-height: 110px;
	text-align: center;
	font-size: 32px;
	color: #2a2a2a;
}
.user-feedback-bg{
	height: 15px;
	background: url(../../images/user-feedback-bg.png) no-repeat;
}
.user-feedback-form textarea{
	height: 640px;
	padding: 15px;
	width: 100%;
	font-size: 24px;
	color: #2a2a2a;
	line-height: 40px;
}
.user-feedback-form input{
	display: block;
	width: 620px;
	margin: 180px auto 100px;
	height: 100px;
	line-height: 100px;
	background-color: #14a83b;
	color: #fff;
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
}

/*user-about*/
.user-about-content{
	padding: 0 50px;
	color: #2a2a2a;
	font-size: 28px;
}
.user-about-title{
	font-size: 32px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-bottom: 1px solid #a7a7a7;
}
.user-about-box{
	padding: 50px 0;
}
.user-about-box p{
	line-height: 50px;
	text-indent: 2em;
}
.user-about-pic{
	text-align: center;
}
.user-about-pic img{
	max-width: 100%;
	padding: 30px 0;
}